<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="row justify-content-center gx-4 gy-4 text-center">
                <!-- الكرت 1 -->
                <div class="col-12 col-sm-8 col-md-4 d-flex justify-content-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="project-card_leader d-flex align-items-center justify-content-center flex-column p-3 w-100">
                        <a asp-controller="Admin" asp-action="AllProjects" class="text-decoration-none text-center">
                            <h4 data-translate="project">Manage Projects</h4>
                        </a>
                    </div>
                </div>

                <!-- الكرت 2 -->
                <div class="col-12 col-sm-8 col-md-4 d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="project-card_leader d-flex align-items-center justify-content-center flex-column p-3 w-100">
                        <a asp-controller="Admin" asp-action="IndexGraduationProject" class="text-decoration-none text-center">
                            <h4 data-translate="project7">Manage Graduation Project</h4>
                        </a>
                    </div>
                </div>

                <!-- الكرت 3 -->
                <div class="col-12 col-sm-8 col-md-4 d-flex justify-content-center wow fadeInUp" data-wow-delay="0.5s">
                    <div class="project-card_leader d-flex align-items-center justify-content-center flex-column p-3 w-100">
                        <a asp-controller="Admin" asp-action="IndexMainTask" class="text-decoration-none text-center">
                            <h4 data-translate="managemaintask">Manage Main Task</h4>
                        </a>
                    </div>
                </div>

                <!-- الكرت 4 -->
                <div class="col-12 col-sm-8 col-md-4 d-flex justify-content-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="project-card_leader d-flex align-items-center justify-content-center flex-column p-3 w-100">
                        <a asp-controller="Admin" asp-action="IndexSubTask" class="text-decoration-none text-center">
                            <h4 data-translate="task5">Manage Sub Task</h4>
                        </a>
                    </div>
                </div>

                <!-- الكرت 5 -->
                <div class="col-12 col-sm-8 col-md-4 d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="project-card_leader d-flex align-items-center justify-content-center flex-column p-3 w-100">
                        <a asp-controller="Admin" asp-action="IndexUser" class="text-decoration-none text-center">
                            <h4 data-translate="user5">Create User</h4>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
